
<!-- Nav bar starts here -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary px-3">
    <a class="navbar-brand" routerLink="">
        <!-- <img src="https://www.paysii.com/assets/images/PaySii-Logo.png" class="d-inline-block align-top logo" alt=""> -->
        <h3>Remmitence</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item" routerLinkActive='active-link'>
                <a class="nav-link" routerLink="signup">Sign Up</a>
            </li>
            <li class="nav-item" routerLinkActive='active-link'>
                <a class="nav-link" routerLink="login">Log in</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Nav bar ends here -->