<!-- Slider starts here -->
<div
  class="p-3 p-md-5 text-center bg-light ng-star-inserted"
  style="
    background-size: cover;
    background-position: center center;
    height: 400px;
    background-image: url('/assets/img/country_somalia_3.jpg');
  "
></div>
<!-- Slider ends here -->
<!-- About us starts here -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center my-5">
      <div class="position-relative overflow-hidden mt-5 mb-3">
        <div class="col-md-12 mx-auto section-title">
          <h2 class="pt-4 text-center">Easy Steps To Send Money To Any Country</h2>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container easy-steps">
  <div class="row text-center hide-on-mobile"></div>
  <div class="row my-5 text-center">
    <div class="col-md-4">
      <div class="card">
        <img
          class="steps-img img-responsive"
          src="/assets/img/step1.jpg"
          alt="send money to Somalia"
          width='400'
          height='400'
        />
        <div class="card-body">
          <h4 class="section-header">
            <span class="steps-number">01.</span>
            Sign up for free
          </h4>
          <p>
            Easy to register online or in our unique mobile app. You can also
            sign up with your Google or Facebook account.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="steps-img img-responsive"
          src="/assets/img/step2.jpg"
          alt="send money to Somalia"
          width='400'
          height='325'
        />
        <div class="card-body">
          <h4 class="section-header">
            <span class="steps-number">02.</span>
            Select country &amp; enter amount
          </h4>
          <p>
            Select a country of your choice to send money to, enter the amount
            you want to send &amp; see the exchange rate applied, the fees
            charged &amp; the total amount to pay transparently.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="steps-img"
          src="/assets/img/step3.jpg"
          alt="send money to Somalia"
          width='400'
          height='370'
        />
        <div class="card-body">
          <h4 class="section-header">
            <span class="steps-number">03.</span>
            Add recipient information
          </h4>
          <p>
            Select existing recipient from your previous list or add a new
            recipient and fill correct receiving details i.e. mobile wallet
            account or bank account etc.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5 text-center">
    <div class="col-md-4">
      <div class="card">
        <img
          class="steps-img"
          src="/assets/img/step4.jpg"
          alt="send money to Somalia"
          width='400'
          height='400'
        />
        <div class="card-body">
          <h4 class="section-header">
            <span class="steps-number">04.</span>
            Verify your identity
          </h4>
          <p>
            To help us keep your money safe please provide your valid photo
            identity and proof of address.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="steps-img"
          src="/assets/img/step5.jpg"
          alt="send money to Somalia"
          width='400'
          height='420'
        />
        <div class="card-body">
          <h4 class="section-header">
            <span class="steps-number">05.</span>
            Pay for your transfer
          </h4>
          <p>
            Use your debit/credit card to pay for your transfer using our safe
            and secure payment.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="steps-img"
          src="/assets/img/step6.jpg"
          alt="send money to Somalia"
          width='400'
          height='400'
        />
        <div class="card-body">
          <h4 class="section-header">
            <span class="steps-number">06.</span>
            That's it
          </h4>
          <p>
            Let's do the rest, to follow your transfer please login to your
            account and see the status.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About us ends here -->
<!-- Our services starts here -->
<div class="container-fluid bg-light">
  <div class="container pb-5">
    <div class="container-fluid call-out">
      <div class="row pb-5 pt-3 mx-auto-5 justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-md-8 pt-5 text-white section-title">
          <h2>Create your account in few minutes</h2>
          <p class="text-white">
            Sign up for free, and get exiciting offers using referral codes.
          </p>
        </div>
        <div class="col-md-3">
          <a
            class="btn btn-light btn-lg"
            routerlink="/customers/signup"
            type="button"
            href="/en/customers/signup"
            >REGISTER NOW</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our services ends here -->
