<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#moda"
  (click)="showModel()"
>
  add currency
</button>
<div class="card card-default mt-2">
  <div class="card-header">
    <h3 class="card-title">currency List</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="example1"
                    class="
                      table table-bordered table-striped
                      dataTable
                      dtr-inline
                      collapsed
                    "
                    aria-describedby="example1_info"
                  >
                    <thead>
                      <tr>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Id
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Currency Name
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Currency Code
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Country Name
                        </th>
                        <th
                          class="sorting"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-label="CSS grade: activate to sort column ascending"
                        >
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let currency of currencyList.data">
                        <td>{{ currency.currancyid }}</td>
                        <td>{{ currency.currancyname }}</td>
                        <td>{{ currency.currancycode }}</td>
                        <td>{{ currency.countryname }}</td>
                        <td>
                          <a
                            class="btn btn-primary mx-3"
                            (click)="editCurrency(currency)"
                            >edit</a
                          >
                          <a
                            class="btn btn-danger"
                            (click)="deleteCurrency(currency.currancyid)"
                            >delete</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>

<!-- modal starts here -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">currency</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="currencyForm">
          <div class="row mt-5 g-4">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  placeholder="Name"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    currencyForm.get('name')?.hasError('required') &&
                    currencyForm.get('name')?.touched
                  "
                  >Name is required ..</span
                >
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="code"
                  placeholder="Currency Code"
                  class="form-control"
                  autocomplete="of"
                />

                <span
                  class="text-danger"
                  *ngIf="
                    currencyForm.get('code')?.hasError('required') &&
                    currencyForm.get('code')?.touched
                  "
                  >Currency code is required ..</span
                >
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <select
                  id="country"
                  formControlName="countryId"
                  class="form-control"
                >
                <option value=''>select Country</option>
              </select>
                <span
                  class="text-danger"
                  *ngIf="
                    currencyForm.get('countryId')?.hasError('required') &&
                    currencyForm.get('countryId')?.touched
                  "
                  >Country is required ..</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button
          (click)="addCurrency()"
          [disabled]="!currencyForm.valid"
          class="btn btn-primary"
        >
          Save
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- end  of modal -->

<!-- edit modal -->

<!-- modal starts here -->
<div class="modal fade" id="edtcurrency">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">currency</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="currencyEditForm">
          <div class="row mt-5 g-4">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  placeholder="Name"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    currencyEditForm.get('name')?.hasError('required') &&
                    currencyEditForm.get('name')?.touched
                  "
                  >Name is required ..</span
                >
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="code"
                  placeholder="Currency Code"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    currencyEditForm.get('code')?.hasError('required') &&
                    currencyEditForm.get('code')?.touched
                  "
                  >Currency code is required ..</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button
          (click)="updateCurrency()"
          [disabled]="!currencyEditForm.valid"
          class="btn btn-primary"
        >
          Save Changes
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- end  of modal -->
