
<div class="card card-default mt-2">
  <div class="card-header">
    <h3 class="card-title">remittence List</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12">
                  <table
                    id="example1"
                    class="
                      table table-bordered table-striped
                      dataTable
                      dtr-inline
                      collapsed
                    "
                    aria-describedby="example1_info"
                  >
                    <thead>
                      <tr>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Id
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Sender Name
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Receiver Name
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Payment Type
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Sending From
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          remittence Name
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Sending To
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Sending Amount
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Recieving Amount
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Charge
                        </th>
                        <th
                          class="sorting sorting_asc"
                          tabindex="0"
                          aria-controls="example1"
                          rowspan="1"
                          colspan="1"
                          aria-sort="ascending"
                          aria-label="Rendering engine: activate to sort column descending"
                        >
                          Date
                        </th>
                        <th class="sorting">Status</th>
                        <th class="sorting"
                        rowspan="1"
                        colspan="1"
                        >Action</th>
                      </tr>
                    </thead>
                    <tbody id="tbody">
                      <tr *ngFor="let remittence of remittenceList.data">
                        <td>{{ remittence.customerid }}</td>
                        <td>{{ remittence.sendername }}</td>
                        <td>{{ remittence.recievername }}</td>
                        <td>{{ remittence.paymanttype }}</td>
                        <td>{{ remittence.sendingfrom }}</td>
                        <td>{{ remittence.currancyname }}</td>
                        <td>{{ remittence.sendingto }}</td>
                        <td>{{ remittence.sendingamount}} {{remittence.currancycode}}</td>
                        <td>{{ remittence.recievingamount | currency}}</td>
                        <td>{{ remittence.charge | currency }}</td>
                        <td>{{ remittence.datecreated }}</td>
                        <td>{{ remittence.statusname }}</td>
                        <td>
                          <a class="btn btn-success" (click)="showModel(remittence.remittenceid)">Accept</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>



<!-- modal starts here -->
<div class="modal fade" id="aproveremittencemodel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">remittence</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="remittenceForm">
            <div class="row mt-5 g-4">
                <div class="col-md-12">
                    <div class="form-group">
                      <select
                        id="status"
                        formControlName="status"
                        class="form-control"
                      >
                      <option value=''>Select Status </option>
                    </select>
                      <span
                        class="text-danger"
                        *ngIf="
                          remittenceForm.get('status')?.hasError('required') &&
                          remittenceForm.get('status')?.touched
                        "
                        >Status is required ..</span
                      >
                    </div>
                  </div>
            </div>
  
          </form>
        </div>
        <div class="modal-footer justify-content-between" >
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button (click)="updateStatus()"   [disabled]="!remittenceForm.valid" class="btn btn-primary">Save</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- end  of modal -->