<div class="container-fluid bg-light">
  <div class="container">
    <div class="card mt-5">
      <div class="card-title mx-4 mt-4">Registor</div>
      <div class="card-body">
        <form [formGroup]="customerForm">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  placeholder="Enter Full Name"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('name')?.hasError('required') &&
                    customerForm.get('name')?.touched
                  "
                  >Name is required ..</span
                >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="email"
                  placeholder="Enter Email"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('email')?.hasError('required') &&
                    customerForm.get('email')?.touched
                  "
                  >Name is required ..</span
                >
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('email')?.hasError('email') &&
                    customerForm.get('email')?.touched
                  "
                  >Write a valid email ..</span
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName='address'
                  placeholder="Enter Address"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('address')?.hasError('required') &&
                    customerForm.get('address')?.touched
                  "
                  >Address is required ..</span
                >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName='contact'
                  placeholder="Enter Contact"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                class="text-danger"
                *ngIf="
                  customerForm.get('contact')?.hasError('required') &&
                  customerForm.get('contact')?.touched
                "
                >Contact is required ..</span>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <input
                  type="password"
                  formControlName='password'
                  placeholder="Enter Password"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('password')?.hasError('required') &&
                    customerForm.get('password')?.touched
                  "
                  >password is required ..</span
                >
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button class="btn btn-primary" (click)='addCustomer()' [disabled]='!customerForm.valid'>Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
