
<button
type="button"
class="btn btn-primary"
data-toggle="modal"
data-target="#moda"
(click)="showModel()"
>
add Customer
</button>
<div class="card card-default mt-2">
<div class="card-header">
  <h3 class="card-title">Customer List</h3>

  <div class="card-tools">
    <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fas fa-minus"></i>
    </button>
    <button type="button" class="btn btn-tool" data-card-widget="remove">
      <i class="fas fa-times"></i>
    </button>
  </div>
</div>
<!-- /.card-header -->
<div class="card-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
          <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            
            <div class="row">
              <div class="col-sm-12">
                <table
                  id="example1"
                  class="
                    table table-bordered table-striped
                    dataTable
                    dtr-inline
                    collapsed
                  "
                  aria-describedby="example1_info"
                >
                  <thead>
                    <tr>
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending"
                      >
                        Id
                      </th>
                      <th
                        class="sorting sorting_asc"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending"
                      >
                        Name
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Browser: activate to sort column ascending"
                      >
                        address
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Browser: activate to sort column ascending"
                      >
                        Contact
                      </th>
                      
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="Browser: activate to sort column ascending"
                      >
                        Email
                      </th>
                      <th
                        class="sorting"
                        tabindex="0"
                        aria-controls="example1"
                        rowspan="1"
                        colspan="1"
                        aria-label="CSS grade: activate to sort column ascending"
                      >
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                   
                    <tr *ngFor="let customer of customerList">
                      <td>{{customer.customerid}}</td>
                      <td>{{customer.name}}</td>
                      <td>{{customer.address}}</td>
                      <td>{{customer.contact}}</td>
                      <td>{{customer.email}}</td>
                      <td>
                        <a class="btn btn-primary mx-3" (click)="editCustomer(customer)">edit</a>
                        <a class="btn btn-danger" (click)="deleteCustomer(customer.customerid)">delete</a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
</div>


<!-- modal starts here -->
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Customer</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerForm">
          <div class="row mt-5 g-4">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  placeholder="Name"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('name')?.hasError('required') &&
                    customerForm.get('name')?.touched
                  "
                  >Name is required ..</span
                >
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group">
                <input
                  type="text"
                  formControlName="email"
                  placeholder="email"
                  class="form-control"
                  email='true'
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('email')?.hasError('required') &&
                    customerForm.get('email')?.touched
                  "
                  >Name is required ..</span>
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('email')?.hasError('email') &&
                    customerForm.get('email')?.touched
                  "
                  >Write a valid email ..</span
                >
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="address"
                  placeholder="Address"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('address')?.hasError('required') &&
                    customerForm.get('address')?.touched
                  "
                  >Address is required ..</span
                >
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group">
                <input
                  type="text"
                  formControlName="contact"
                  placeholder="Contact"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('contact')?.hasError('required') &&
                    customerForm.get('contact')?.touched
                  "
                  >Contact is required ..</span>
              </div>
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  placeholder="password"
                  formControlName="password"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    customerForm.get('password')?.hasError('required') &&
                    customerForm.get('password')?.touched
                  "
                  >password is required ..</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between" >
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button (click)="addCustomer()"   [disabled]="!customerForm.valid" class="btn btn-primary">Save</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- end  of modal -->


<!-- edit modal -->

<!-- modal starts here -->
<div class="modal fade" id="edtCustomer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Customer</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="customerEditForm">
          <div class="row mt-5 g-4">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="name"
                  placeholder="Name"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                  customerEditForm.get('name')?.hasError('required') &&
                  customerEditForm.get('name')?.touched
                  "
                  >Name is required ..</span>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group">
                <input
                  type="text"
                  formControlName="contact"
                  placeholder="Contact"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                  customerEditForm.get('contact')?.hasError('required') &&
                  customerEditForm.get('contact')?.touched
                  "
                  >Contact is required ..</span>
                
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  formControlName="address"
                  placeholder="Address"
                  class="form-control"
                  autocomplete="of"
                />
                <span
                  class="text-danger"
                  *ngIf="
                  customerEditForm.get('address')?.hasError('required') &&
                  customerEditForm.get('address')?.touched
                  "
                  >Address is required ..</span
                >
              </div>
            </div>
          </div>

         
        </form>
      </div>
      <div class="modal-footer justify-content-between" >
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button (click)="updateCustomer()"   [disabled]="!customerEditForm.valid" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- end  of modal -->
